
/* CSS RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* FONTS */

/* Importing Google Fonts - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');


/* CARD */

.card .card-image img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card .card-profile img {

}

